.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.SpamInputForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.SpamInputBox {
    padding: 10px;
    font-size: 16px;
}

.SpamInputBoxTextarea {
    padding: 10px;
    font-size: 16px;
    min-height: 200px;
}

.LaNote{
    font-size: 14px;
    color: red;
}

.BtDiscrimination {
    margin-top: 20px;
    padding: 12px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}


/* ---------------- */
/* スマホ対応 */
/* ---------------- */
@media (max-width: 768px) {
    /* 共通ボタン */
    .fetch-buttons button {
        padding: 5px;
    }
}

